
.login-form {
  text-align: center;
  justify-content: center;
}

.username {
  margin-top: 100px !important;
  width: 300px;
}

.password {
  width:300px;
}

.login-button {
  margin-top: 30px !important;
  width:300px;
  background-color: lightgray !important;
  color: black !important;
}
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.add-car {
  background: #4caf50 !important;
  color: white !important;
}

.icon {
  font-size: medium !important;
}

.icon:hover {
  cursor: pointer
}

.text-gray {
  color: gray
}

.text-red {
  color: red
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.listings-container {
  margin: 50px;
}

.details-container {
  margin-top: 40px;
}